
# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Dependency directories
jspm_packages/

# Optional eslint cache
.eslintcache

# Parcel-bundler cache
.cache/
.parcel-cache/

# Mac System Files
.DS_Store

# Windows System Files
Thumbs.db
ehthumbs.db